.calculadora {
    background: rgb(116, 212, 212);
    width: 200px;
    padding: 10px;
}
#btnCalc {
    background: rgb(193, 155, 219);
    color: white;
    padding: 5px;
}
#btnCalc:hover {
    background: rgb(194, 72, 167);
    color: black;
    cursor: pointer;
}
.spResultado{
    background: rgb(43, 119, 219);
    color: rgb(238, 207, 238);
    padding: 4px;
    margin: 2px;
}
